@using Fabrica.Web.Models
@using Fabrica.Services.Models

@model IEnumerable<OrderServiceModel>

@{
    ViewData["Title"] = "My";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="masthead bg-primary text-white text-center">
    <h1 class="masthead-heading text-uppercase text-center text-secondary">My Orders :</h1>
    <br>
    <br>
    <div class="row" style="margin-right: 0px">

        <div class="column masthead-heading text-uppercase text-secondary">
            <h1>[ 3d Props ]</h1>
        </div>

        <div class="column">
            <table class="table-content">

                <tr class="masthead-subheading bg-secondary text-uppercase text-md-right text-white">
                    <th>Name</th>
                    <th>Purchased on</th>
                    <th>Price</th>
                    <th>Owner</th>
                    @*<th>Details</th>*@
                </tr>

                @foreach (var order in @Model)
                {
                    @foreach (var p in order.Props)
                    {
                        <tr>
                            <td>@p.Prop.Name</td>
                            <td>@p.Order.OrderedOn</td>
                            <td>@p.Prop.Price</td>
                            <td>@p.Prop.PropCreator.UserName</td>
                            @*<td>
                                <a class="btn btn-danger">Details</a>
                            </td>*@
                        </tr>
                    }
                }

            </table>
        </div>
    </div>

    <br>
    <br>
    <br>

    <div class="row" style="margin-right: 0px">

        <div class="column masthead-heading text-uppercase text-secondary">
            <h1>[ Marvelous Props ]</h1>
        </div>

        <div class="column">
            <table class="table-content">

                <tr class="masthead-subheading bg-secondary text-uppercase text-md-right text-white">
                    <th>Name</th>
                    <th>Purchased on</th>
                    <th>Points</th>
                    <th>Owner</th>
                    @*<th>Details</th>*@
                </tr>

                @foreach (var order in @Model)
                {
                    @foreach (var mp in order.MarvelousProps)
                    {
                        <tr>
                            <td>@mp.MarvelousProp.Name</td>
                            <td>@mp.Order.OrderedOn</td>
                            <td>@mp.MarvelousProp.Points</td>
                            <td>@mp.MarvelousProp.MarvelousCreator.UserName</td>
                            @*<td>
                                <a class="btn btn-danger">Details</a>
                            </td>*@
                        </tr>
                    }
                }

            </table>
        </div>
    </div>

    <br>
    <br>

    @*<div class="container-fluid row">
        <div class="col-md-12" style="padding-left: 75%">
            <a class="btn btn-warning py-lg-4">CONFIRM ALL</a>
        </div>
    </div>*@

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>
</header>