@using Fabrica.Infrastructure
@using Fabrica.Web.Models
@model AllUsersViewModel[]

@{
    var counter = 1;
}

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (this.User.Identity.IsAuthenticated)
{
    @if (this.User.IsInRole(GlobalConstants.AdminRoleName))
    {
        <header class="masthead bg-primary text-white text-center">

            <h1 class="masthead-heading text-uppercase text-center text-secondary">All users&ensp;:</h1>
            <br>
            <br>

            <div class="row" style="padding-left: 15px; margin-right: 0px;">

                <div class="col-md-12">
                    <table class="container">
                        <tr class="masthead-subheading bg-secondary text-uppercase text-md-center text-white">
                            <th>#</th>
                            <th>Username</th>
                            <th>Full name</th>
                            <th>E-mail</th>
                            <th>Status</th>
                            <th></th>
                        </tr>

                        @foreach (var user in @Model)
                        {
                            <tr>
                                <td>@counter</td>
                                <td>@user.UserName</td>
                                <td>@user.FullName</td>
                                <td>@user.Email</td>

                                @if (user.IsDeleted == true)
                                {
                                    <td class="text-info text-muted">Deactivated</td>
                                    <td>
                                        <a asp-controller="Users" asp-action="Activate" asp-route-id="@user.Id" class="btn btn-primary">Activate</a>
                                    </td>
                                }
                                else
                                {
                                    <td class="text-info">OK - Active</td>
                                    <td>
                                        <a asp-controller="Users" asp-action="Deactivate" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                                    </td>
                                }
                            </tr>
                            counter++;
                        }

                    </table>
                </div>

            </div>

            <!-- Icon Divider -->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                </div>
                <div class="divider-custom-line"></div>
            </div>
        </header>

    }
}