@using Fabrica.Services.Models;
@model PropServiceModel

@{
    ViewData["Title"] = "Create Prop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="masthead bg-primary text-white text-center">
    <div class="row" style="margin-right: 0px">
        <div class="column">
            <div class="col w-25 align-items-md-center">
                <h1 class="masthead-subheading text-uppercase text-md-right text-secondary">Create</h1>
                <h1 class="masthead-heading text-uppercase text-md-right text-secondary">3d</h1>
                <h1 class="masthead-heading text-uppercase text-md-right text-secondary">Prop</h1>
            </div>
        </div>

        <div class="column">
            <div class="container w-50 align-items-md-baseline flex-column">
                <form class="mx-auto half-width" method="post" asp-antiforgery="true">

                    <div class="form-group">
                        <label asp-for="@Model.Name"></label>
                        <input type="text" maxlength="40" class="form-control" asp-for="@Model.Name"
                               placeholder="3d Prop Name...">
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.PropType"></label>
                        <select class="form-control" asp-for="@Model.PropType" placeholder="Select Type ...">
                            <option selected disabled>Select Type...</option>
                            <option value="Pants">Pants</option>
                            <option value="Shorts">Shorts</option>
                            <option value="Tights">Tights</option>
                            <option value="Skirts">Skirt</option>
                            <option value="Dresses">Dress</option>
                            <option value="SS">Short Sleeve</option>
                            <option value="LS">Long Sleeve</option>
                            <option value="Tanks">Tank</option>
                            <option value="Hoodies">Hoodie</option>
                            <option value="Jackets">Jacket</option>
                            <option value="Vests">Vest</option>
                            <option value="Bras">Bra</option>
                            <option value="Equipment">Equipment</option>
                        </select>
                        <span asp-validation-for="@Model.PropType" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Price"></label>
                        <input type="number" min="1.0" step="0.1" class="form-control" asp-for="@Model.Price" placeholder="Price...">
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.ImageUrl"></label>
                        <input type="url" class="form-control" asp-for="@Model.ImageUrl" placeholder="ImageUrl...">
                        <span asp-validation-for="@Model.ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Hashtags"></label>
                        <input type="text" maxlength="50" class="form-control" asp-for="@Model.Hashtags" placeholder="#Hashtags...">
                        <span asp-validation-for="@Model.Hashtags" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Description"></label>
                        <textarea type="text" maxlength="450" class="form-control" asp-for="@Model.Description" placeholder="Description..."></textarea>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                    <div class="button-holder d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-light">Create</button>
                    </div>
                    <br/>

                </form>

                <!-- Icon Divider -->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon">
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="divider-custom-line"></div>
                </div>

            </div>
        </div>
    </div>
</header>