@using Fabrica.Infrastructure
@using Fabrica.Models
@using Fabrica.Models.Enums
@model Prop

@{
    ViewData["Title"] = "DetailsEdit";
    var user = ((Task<FabricaUser>)ViewData["CurrentUser"]).Result;
    var prop = @Model;
    
}

@{
    var avatarImg = "";

    @if (user.Gender == GenderType.Male)
    {
        avatarImg = GlobalConstants.maleAvatar;
    }
    else if (user.Gender == GenderType.Female)
    {
        avatarImg = GlobalConstants.femaleAvatar;
    }
}

<section class="props3d wow fadeInUp">
    <div class="container">
        <div class="row">

            <div id="3dProps" class="container d-flex align-items-center flex-column text-secondary">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <h2 class="masthead-heading text-uppercase">Restore tool</h2>
                <p class="masthead-heading text-uppercase">3d prop</p>
                <div class="divider-custom" style="margin-top: 0px">
                    <div class="divider-custom-line"></div>
                </div>
            </div>

            <div class="container prop-item d-flex align-items-center flex-column text-secondary">

                <div class="container text-secondary">
                    <div class="row">
                        <div class="col-lg-4">

                            <div class="prop-item" style="width: 400px; height: auto">
                                <img src="@prop.ImageUrl" alt="" class="img-fluid">
                            </div>

                        </div>

                        <div class="col-lg-8">

                            <div class="no-underline">

                                <div class="details">
                                    <h3 class="text-primary"><a>@prop.Name</a></h3>
                                    <h5 class="text-primary "><a>@prop.PropType</a></h5>
                                    <br/>
                                    <h6>
                                        @prop.Description
                                    </h6>
                                    <br/>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5 class="text-primary">Price : @prop.Price$</h5>
                                        </div>

                                        <div class="col-lg-6">
                                            @{
                                                var points = (int)(prop.Price / 2);
                                                var bonusPoints = 0;
                                                
                                                if (prop.Price >= 4)
                                                {
                                                    bonusPoints = (int)(((prop.Price / 4) + 1)*0.50);
                                                }
                                                else
                                                {
                                                    bonusPoints = 0;
                                                }
                                            }
                                            <h5 class="text-primary" style="padding-left: 16%">-> WIN: @points + (@bonusPoints)XP bonus</h5>
                                        </div>

                                    </div>

                                    <hr class="hr-2 bg-white">
                                    <p>@prop.Hashtags</p>

                                    <div class="container-fluid fa fab fas far">
                                        <a href="#3dProps" style="padding-right: 5px">
                                            <i class="fa fa-share-alt"></i>
                                        </a>
                                        <a><img class="prop-user-thumb" src="@avatarImg" alt=""></a>
                                    </div>
                                    <br/>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-9" style="padding-left: 18%">
                                        </div>
                                        <div class="col-md-3">
                                            <a asp-controller="Props" asp-action="RestoreProp" asp-route-id="@prop.Id" class="btn btn-outline-light bg-primary">RESTORE</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <p></p>
</section>

